body{
    padding: 15px;
    background: #999969;
}
.basic{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: linear-gradient(to bottom right, #3b391e, #86865a );
    border-radius: 15px;
}
.company{
    display: flex;
    flex-wrap: nowrap;
}
.menubtn{
    margin: 15px;
    text-decoration: none;
    color: #000;
}
div{
    margin: 10px;
}
.onas{
    align-self: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border: 3px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #73734b, #999969 );
}
img{
    width: 300px;
    height: 200px;
}
.sluzhby{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.img1,.img2,.img3{
    width: 120px;
    height: 80px;
    margin: 0 0 20px 0;
    border-radius: 20px;
}

.fasad,.izol,.vnutra{
    width: 200px;
    height: 300px;
    padding: 40px;
    border: 3px;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #73734b, #fff );
}
.img4,.img5,.img6,.img7{
    width: 50%;
    height: 50%;
}
.over{
        display: flex;
        flex-wrap: wrap;
}
.contact{
    color: #fff;
}
.mail{
    text-decoration: none;
    color: #86865a;
}
footer{
    height: 200px;
    background: #151200;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}





